<div class="product-transaction-fields">
  <label class="product-transaction-fields__field">
    <span>{{ sourceLabel() }} <b>*</b></span>
    <app-dropdown
      [fullWidth]="true"
      [options]="sourceOptions()"
      [value]="optionValue(sourceValue())"
      (valueChange)="sourceValueChange.emit($event)"
    />
  </label>

  <label class="product-transaction-fields__field">
    <span>{{ accountLabel() }} <b>*</b></span>
    <app-dropdown
      [fullWidth]="true"
      [options]="accountOptions()"
      [value]="optionValue(accountValue())"
      (valueChange)="accountValueChange.emit($event)"
    />
  </label>
</div>
